@font-face {
    font-family: Bebas;
    src: url(../Font/BebasNeue-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Bebas;
    text-decoration: none;
}

body {
    overflow-y: hidden;
}


main {
    display: flex;
}

.img-sec {
    padding: 64px;
    width: 50%;
    height: 100vh;
    background-color: #FF6633;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-sec img {
    width: 400px;
}

.img-sec h1 {
    margin-top: 32px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff9f7;
}

.img-sec p {
    margin-top: 8px;
    font-size: .9rem;
    font-weight: 100;
    color: #fff9f7;
    text-align: center;
    max-width: 550px;
}

.slide-btn {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.slide-btn div {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #ffffff7c;
    border-radius: 50px;
}

.slide-btn div:first-child {
    width: 24px;
}

.login-sec {
    padding: 64px;
    width: 50%;
    height: 100vh;
    background-color: #fff9f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-sec img {
    width: 200px;
}

.login-sec h2 {
    margin-top: 64px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #424242;
}

.login-form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.login-form input {
    height: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid 2px #b1b1b1;
    font-size: large;
    transition: all ease .4s;
}

.login-form input:focus {
    border-bottom: solid 2px #FF6633;
    transition: all ease .4s;
}

.login-form button {
    height: 40px;
    font-size: 1.4rem;
    background-color: #FF6633;
    color: #fff9f7;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    cursor: pointer;
}

.login-form button a {
    color: #fff;
}

.line-sec {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
}

.line {
    margin: 0 5px;
    width: 100px;
    background-color: #424242;
    height: 1px;
}

.signin-with {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FF6633;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px #00000023;
}

.signin-with p {
    color: #fff9f7;
    font-size: large;
}

.signin-with img {
    width: 50px;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px #00000023;
    background-color: #fff9f7;
    color: #FF6633;
    transition: all ease .2s;
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    .img-sec {
        display: none;
    }

    .login-sec {
        width: 100%;
    }
}